@page "/base64"

<h1>Base64 Converter</h1>

<div class="form-group">
    <textarea id="whitearea" class="form-control col-md-6" placeholder="Non Base64" @bind-value="NonBase64Body" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">This is the value you want to encode as Base64.</small>
</div>

<button class="btn btn-primary" type="button" @onclick="ConvertToBase64">
    <i class="oi oi-arrow-thick-bottom"></i> Encode</button>

<button class="btn btn-success" type="button" @onclick="ConvertFromBase64">
    <i class="oi oi-arrow-thick-top"></i> Decode</button>

<div class="form-group">
    <textarea id="whitearea" class="form-control col-md-6" placeholder="Base64" @bind-value="Base64Body" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">This is the value you want to decode from Base64.</small>
</div>