@page "/commanddata"

<h1>Query Commands</h1>

<div class="form-group">
    <input id="commandquery" class="form-control col-md-6" placeholder="what you looking for?"  @bind-value="SearchCriteria" @bind-value:event="oninput" />
    <small class="form-text text-muted">Search for command, platform or how to description.</small>
</div>

<hr/>



<button class="btn btn-primary" type="button" @onclick="QueryAPI">
    <i class="oi oi-magnifying-glass"></i> Search</button>

<br/>

@if(Result == null)
{
    <p><em></em></p>
}
else if(Result.Length == 0)
{
    <p><em>No results...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Platform</th>
                <th>How to...</th>
                <th>Command Line</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var command in Result)
            {
                <tr>
                    <td>@command.Platform.Name</td>
                    <td>@command.HowTo</td>
                    <td>@command.CommandLine</td>
                    
                </tr>
            }
        </tbody>
    </table>
}